.ipynb_checkpoints/
.snakemake/
data/**
!data/genome/
!data/genome/sm_dbSNP_v7.vcf
!data/genome/TPM_isoforms_Sm_*
!data/genome/Sm_transcript_table_gff-hhpred*
!data/phenotyping/
!data/phenotyping/F2.csv
status/
results/
graphs/
